button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

/* Beginning of Q&A css styles section */

.searchInput {
  width: 70%;
}

.questionButtons {
  border: 1px solid black;
  background-color: white;
}

/* End of Q&A css styles section */